<div class="flex flex-col justify-center items-center">
    <% flash.each do |type, msg| %>
      <div class="bg-green-100 border-2 border-green-500 text-green-700 flex align-items rounded-lg" role="alert">
        <div class="p-4">
          <p id="flash-message"><%= msg %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class='bg-white p-4 rounded-lg shadow-lg md:w-120'>
<div class='text-4xl my-4 text-center'>Sign Up</div>
<div class="text-center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field my-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'shadow appearance-none border rounded w-80 md:w-80 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', placeholder: 'email@example.com' %>
  </div>

  <div class="field my-4">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-80 md:w-80 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'shadow appearance-none border rounded w-80 md:w-80 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
  </div>

  <div class="actions mb-4">
    <%= f.submit "Sign up!", class: 'primary-btn rounded mt-4 p-2 md:p-2' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>